<a href="https://colab.research.google.com/github/sprasad79/Data_science/blob/main/DBSCAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import the libraries
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import .csv file and convert it to a DataFrame object
df = pd.read_csv("Wholesale customers data.csv");

print(df.head())

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [3]:
df

     Channel  Region  Fresh  ...  Frozen  Detergents_Paper  Delicassen
0          2       3  12669  ...     214              2674        1338
1          2       3   7057  ...    1762              3293        1776
2          2       3   6353  ...    2405              3516        7844
3          1       3  13265  ...    6404               507        1788
4          2       3  22615  ...    3915              1777        5185
..       ...     ...    ...  ...     ...               ...         ...
435        1       3  29703  ...   13135               182        2204
436        1       3  39228  ...    4510                93        2346
437        2       3  14531  ...     437             14841        1867
438        1       3  10290  ...    1038               168        2125
439        1       3   2787  ...      65               477          52

[440 rows x 8 columns]

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB
None

In [5]:
df.drop(['Channel','Region'],axis=1,inplace=True)

In [6]:
array=df.values

In [7]:
array

array([[12669,  9656,  7561,   214,  2674,  1338],
       [ 7057,  9810,  9568,  1762,  3293,  1776],
       [ 6353,  8808,  7684,  2405,  3516,  7844],
       ...,
       [14531, 15488, 30243,   437, 14841,  1867],
       [10290,  1981,  2232,  1038,   168,  2125],
       [ 2787,  1698,  2510,    65,   477,    52]])

In [8]:
stscaler = StandardScaler().fit(array)
X = stscaler.transform(array)

In [9]:
X

array([[ 0.05293319,  0.52356777, -0.04111489, -0.58936716, -0.04356873,
        -0.06633906],
       [-0.39130197,  0.54445767,  0.17031835, -0.27013618,  0.08640684,
         0.08915105],
       [-0.44702926,  0.40853771, -0.0281571 , -0.13753572,  0.13323164,
         2.24329255],
       ...,
       [ 0.20032554,  1.31467078,  2.34838631, -0.54337975,  2.51121768,
         0.12145607],
       [-0.13538389, -0.51753572, -0.60251388, -0.41944059, -0.56977032,
         0.21304614],
       [-0.72930698, -0.5559243 , -0.57322717, -0.62009417, -0.50488752,
        -0.52286938]])

In [10]:
dbscan = DBSCAN(eps=1, min_samples=7)
dbscan.fit(X)

DBSCAN(eps=1, min_samples=7)

In [11]:
#Noisy samples are given the label -1.
dbscan.labels_

array([ 0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1, -1, -1,  0,  0,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1, -1,  0,  0,  0,  0, -1,  0, -1,  0, -1,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0,  0, -1,  0,  0,  0, -1,  0,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
       -1, -1, -1,  0,  0,  0,  0, -1, -1,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0, -1,  0,  0,  0,  0, -1,  0, -1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0, -1,  0,
        0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0, -1,  0, -1,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0, -1, -1,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,
        0,  0, -1,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0, -1,  0,
        0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0, -1,  0,  0,  0,  0,  0,  0,  0, -1,  0, -1,  0,  0])

In [12]:
cl=pd.DataFrame(dbscan.labels_,columns=['cluster'])

In [13]:
cl

     cluster
0          0
1          0
2         -1
3          0
4          0
..       ...
435       -1
436        0
437       -1
438        0
439        0

[440 rows x 1 columns]

In [14]:
clustered = pd.concat([df,cl],axis=1)

In [15]:
clustered

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen  cluster
0    12669   9656     7561     214              2674        1338        0
1     7057   9810     9568    1762              3293        1776        0
2     6353   8808     7684    2405              3516        7844       -1
3    13265   1196     4221    6404               507        1788        0
4    22615   5410     7198    3915              1777        5185        0
..     ...    ...      ...     ...               ...         ...      ...
435  29703  12051    16027   13135               182        2204       -1
436  39228   1431      764    4510                93        2346        0
437  14531  15488    30243     437             14841        1867       -1
438  10290   1981     2232    1038               168        2125        0
439   2787   1698     2510      65               477          52        0

[440 rows x 7 columns]

In [16]:
clustered[clustered['cluster']==-1]

      Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen  cluster
2      6353   8808     7684    2405              3516        7844       -1
22    31276   1917     4469    9408              2381        4334       -1
23    26373  36423    22019    5154              4337       16523       -1
24    22647   9776    13792    2915              4482        5778       -1
28     4113  20484    25957    1158              8604        5206       -1
39    56159    555      902   10002               212        2916       -1
40    24025   4332     4757    9510              1145        5864       -1
45     5181  22044    21531    1740              7353        4985       -1
47    44466  54259    55571    7782             24171        6465       -1
49     4967  21412    28921    1798             13583        1163       -1
56     4098  29892    26866    2616             17740        1340       -1
61    35942  38369    59598    3254             26701        2017       -1
65       85  20959    45828      36             24231        1423       -1
71    18291   1266    21042    5373              4173       14472       -1
85    16117  46197    92780    1026             40827        2944       -1
86    22925  73498    32114     987             20070         903       -1
87    43265   5025     8117    6312              1579       14351       -1
92     9198  27472    32034    3232             18906        5130       -1
93    11314   3090     2062   35009                71        2698       -1
103   56082   3504     8906   18028              1480        2498       -1
109    1406  16729    28986     673               836           3       -1
125   76237   3473     7102   16538               778         918       -1
141   30379  13252     5189     321                51        1450       -1
145   22039   8384    34792      42             12591        4430       -1
171     200  25862    19816     651              8773        6250       -1
176   45640   6958     6536    7368              1532         230       -1
181  112151  29627    18148   16745              4948        8550       -1
183   36847  43950    20170   36534               239       47943       -1
196   30624   7209     4897   18711               763        2876       -1
202   25203  11487     9490    5065               284        6854       -1
211   12119  28326    39694    4736             19410        2870       -1
216    2532  16599    36486     179             13308         674       -1
218      18   7504    15205    1285              4797        6372       -1
251    6134  23133    33586    6746             18594        5121       -1
253   29526   7961    16966     432               363        1391       -1
254   10379  17972     4748    4686              1547        3265       -1
265    5909  23527    13699   10155               830        3636       -1
284   68951   4411    12609    8692               751        2406       -1
312    2137   3737    19172    1274             17120         142       -1
319    9759  25071    17645    1128             12408        1625       -1
325   32717  16784    13626   60869              1272        5609       -1
333    8565   4980    67298     131             38102        1215       -1
338       3    333     7021   15601                15         550       -1
343    1689   6964    26316    1456             15469          37       -1
358     759  18664     1660    6114               536        4100       -1
384   10683  21858    15400    3635               282        5120       -1
413    4983   4859     6633   17866               912        2435       -1
427   31012  16687     5429   15082               439        1163       -1
435   29703  12051    16027   13135               182        2204       -1
437   14531  15488    30243     437             14841        1867       -1

In [17]:
clustered

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen  cluster
0    12669   9656     7561     214              2674        1338        0
1     7057   9810     9568    1762              3293        1776        0
2     6353   8808     7684    2405              3516        7844       -1
3    13265   1196     4221    6404               507        1788        0
4    22615   5410     7198    3915              1777        5185        0
..     ...    ...      ...     ...               ...         ...      ...
435  29703  12051    16027   13135               182        2204       -1
436  39228   1431      764    4510                93        2346        0
437  14531  15488    30243     437             14841        1867       -1
438  10290   1981     2232    1038               168        2125        0
439   2787   1698     2510      65               477          52        0

[440 rows x 7 columns]